.orangeBox {
    background-color: orange;
    width: 100px;
    height: 100px;
    position: flex;
    margin-right: 0px;
    margin-bottom: 0px;
}

.fixBox {
    background-color: pink;
    width: 100px;
    height: 100px;
    position: fixed;
    justify-content: flex-end;
    align-items: flex-end;
}