.container {
    background-color: blue;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-right: 50px;
    box-sizing: border-box;
}

.box {
    height: 30px;
    width: 30px;
    background-color: red;
}

.container2 {
    height: 300px;
    width: 400px;
    background-color: green;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}

.box2 {
    height: 100px;
    width: 100px;
    background-color: orange;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.box3 {
    height: 100px;
    width: 100px;
    background-color: pink;
    position: absolute;
    bottom: 0px;
    right: 0px;
}